body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.title-container {
    text-align: center;
    position: relative;
    padding: 20px 0;
    margin-bottom: 30px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.title-container::before,
.title-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.title-container::before {
    top: 10px;
}

.title-container::after {
    bottom: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}

.query{
    font-size: 1.2em;
    margin-left: 2%;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
}

#info-container{
    margin-top: 10px;
}

.bus-stops-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bus-stop-item {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin-left: 3%;
}

.distance-info {
    flex: 0 0 150px;  /* 固定宽度 */
    width: 150px;
}

.stop-info {
    flex: 1;  /* 占据剩余空间 */
}

.stop-name:hover{
    color: #007bff;
    cursor: pointer;
}

.stop-name{
    color:blue;
    text-decoration: underline;
}

.highlighted {
    background-color: yellow;
}

.stop-detail-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.stop-detail-info {
    display: flex;
    align-items: center;
    /* gap: 15px; */
    margin-bottom: 5px;
}

.stop-detail-route {
    flex: 0 0 120px;
    font-weight: bold;
    font-size: 1.1em;
    min-width: 50px;
    text-align: center;
}

/* .stop-detail-dest {
    color: #666;
} */

.eta-container {
    margin-left: 50px;
    color: #333;
}

.eta-label{
    font-weight: bold;
    margin-right: 10px;
}

.eta-time {
    color:blue;
    font-weight: bold;
    margin: 0 8px;
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
}

.cover-stop-detail{
   display: flex; 
   /* flex-wrap: wrap; */
}

.stop-detail{
    flex-basis: 50%;
}

.map-size{
    min-width: 400px;   
    height: 400px; 
    width: 50%;
}

.stop-detail p{
    padding-left: 40px;
}

#info-container p{
   margin-left: 3%;
}

/* Responsive design*/
@media screen and (max-width: 799px) {
    
    h1 {
        font-size: 24px;
    }
    
    .query {
        font-size: 1em;
    }

    .stop-detail{
        flex: 0 0 100%;
    }

    .map-size{
        width: 50%;
        min-width: 400px;   
        height: 400px; 
        justify-self: center;
    }

    .cover-stop-detail{
        display: flex; 
        flex-direction: column;
     }
}